.bottomNav {
  display: flex;
  justify-content: space-around;
  background-color: #1e524b;
  padding: 5rem;
}
.bottom {
  display: flex;
 
  
}
.bottom a{
    text-decoration: none;
    color: aliceblue;
}
.bottom a:hover{
    color: #8FDCC2;
}
.bottom ul{
    margin-left: 1rem;
}
.bottom ul li {
    margin-bottom: 1rem;
}
.title {
    color: #8FDCC2;
}